.markrights-bureaucrat::after {
	content: "行政" !important;
}
.markrights-staff::after {
	content: "STAFF" !important;
}
.markrights-checkuser::after {
	content: "用户核查" !important;
}
.markrights-suppress::after {
	content: "监督" !important;
}
.markrights-sysop::after {
	content: "管理" !important;
}
.markrights-patroller::after {
	content: "维护姬" !important;
}
.markrights-honoredmaintainer::after {
	content: "荣誉维护人员" !important;
}
.markrights-special-contributor::after {
	content: "特殊贡献者" !important;
}
.markrights-file-maintainer::after {
	content: "文件维护" !important;
}
.markrights-interface-admin::after {
	content: "界管" !important;
}
.markrights-techeditor::after {
	content: "技编" !important;
}
.markrights-bot::after {
	content: "robot" !important;
}
.markrights-flood::after {
	content: "机器用户" !important;
}
.markrights-ipblock-exempt::after {
	content: "IP豁免" !important;
}
.markrights-extendedconfirmed::after {
	content: "延确用户" !important;
}
.markrights-goodeditor::after {
	content: "优编" !important;
}.markrights-manually-confirmed::after {
	content: "手确用户" !important;
/*主题式讨论*/